
*{
margin:0px

}
body{
    
    background: url(images/Portrait\ of\ a\ smiling\ beautiful\ woman\ standing\ alone\ on\ a\ yellow\ background.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    background-color: #1e0e08;
}
header{
    /* border: 3px solid; */
    justify-content: space-between;
    align-items: center;
    display:flex;
    flex-direction: row-reverse;
    height: 60px;
    
    /* border: 3px solid; */

}
nav{
    display: flex;
    margin-right:45px ;
    font-family: "Josefin Sans", sans-serif;
    font-weight: bold;
    /* margin-left: 500px */
}
nav ul li a:hover{
    color:#fc7405;
    transition: 0.5s;
}
.logo-image{
    width:200x;
    height:75px;
    margin-left: 130px;
   
}
.logo-image img{
    width: 100%;
    height: 100%;
}

ul{
    display:flex;
    gap: 60px;
    list-style: none;
    
}
a{
    color: #F3BB11;
    text-decoration: solid;
}
.text-container{
    
    color: #F3BB11;
   
    width:700px;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10vh 600px;
} 
.p-hrname{
    font-family: "Sacramento", cursive;
    font-size: 65px;
    font-weight: bold;
    color: #fc7405;
   
}

.p-heading{
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    text-align: center;
    
    background-size: 400px;
    background-image: linear-gradient(to left, #F3BB11,#fc7405, #FFF200,#fc7405);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation:animate 10s linear infinite;

    
}
@keyframes animate{
    0%{
       background-position:  0%;
    }
    100%{
        background-position: 400%;
    }
}
.p-details{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;

  font-style: normal;
  text-align: center;
  font-size: 13px;
  
}


/* colour picker for text #191310 * 1e0e08/